.about {
  padding: 5px;
}

.about h2{
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.about span{
  color:#f5e13098 ;
}
.split-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.left-aboutsection {
  flex: 0 0 300px;
  margin-right: 10px;
}

.about-grid {
  display: flex;
  align-items: flex-start;
}

.profile-image {
  width: 100%;
  max-width: 500px; /* Adjust the max-width value to your desired size */
  height: auto;
  margin-right: 10px;
}

.about-text {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

/* Adjust styles for smaller screens */
@media (max-width: 767px) {
  .split-about {
    flex-direction: column;
    align-items: center;
  }

  .left-aboutsection {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-grid {
    flex-wrap: wrap;
  }

  .profile-image {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
