

.split-about {
  display: flex;
  font-family: sans-serif;
}

.left-aboutsection{
  width: 60%;

}
.right-aboutsection{
  width: 40%;
}

.about-content {
    display: flex;
    align-items: center;
  }   
  .about-img{
    flex: 0 0 auto; /*disable flex grow and shrink */
    height: 540px;
    width: 500px;
    margin-left: 60px;
    margin-top: 1rem;
  
  } 

  .about-card {
    padding: 1px;
    margin: 90px;
    height: 9rem;
    text-align: center;
    margin-top: -8rem;
    margin-bottom: 8rem;
  }
  
  
  .about-text {
    flex: 1 1 auto; /* allow flex grow and shrink } */
    margin-right: 2rem;
  font-size: 17px;  }

  .about-title{
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    color: var(--Third-Color);
    margin-bottom:3rem;
  }

  