.bar {
  display: flex;
  justify-content: center;
  height: 4rem;
  padding: 0 1rem;
}

.bar a {
  margin: 0 1.5rem;
}

.bar img {
  height: 2.5rem;
  padding-top: 0.5rem;
}

@media (max-width: 600px) {
  .bar {
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
  }

  .bar a {
    margin: 0.5rem;
  }
}
