.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
  font-family: sans-serif;
}

.service-card {
  flex: 0 0 300px;
  height: 400px; /* Set a fixed height for all service cards */
  margin: 10px;
  padding: 25px;
  background-color: rgb(76, 59, 88);
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.card-content h2{
  color: rgba(250, 235, 215, 0.637);
}

.card-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(177, 175, 56);
  text-decoration: none;
  font-weight: bold;
}

.card-link svg {
  margin-left: 5px;
}

/* Adjust styles for smaller screens */
@media (max-width: 767px) {
  .service-card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
