.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .testimonial-card {
    background-color: rgb(76, 59, 88);
    padding: 0px;
    margin: 15px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .testimonial-card h3 {
    font-size: 1.5rem;
    margin-top: 3;
    font-family: sans-serif;
  }
  
  .testimonial-card p {
    font-size: 1.3rem;
    margin: 10px;
  }
  
  .contact-info a {
    color: #b3a92796;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }

  .test h2{
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
  }
  